@import '~sass-mq';

.card-list {
  margin: 0 auto;
  padding: 15px;
  max-width: 768px;
  min-width: 320px;

  @include mq(tablet) {
    margin: 0 -15px;
    max-width: initial;
    display: flex;
    flex-wrap: wrap;
  }

  & > .card {
    margin: 15px 0;

    @include mq(tablet) {
      margin: 15px;
      flex: 1 0 300px;;
    }
  }
}
