.card {
  padding: 15px;
  background-color: #eedc83;

  .card-id {
    color: #2c2ce9;
  }

  .card-title {
    font-weight: bold;
  }

  .actions {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;

    .remove-card {
      background-color: #c32f2f;
      color: white;
      border: none;
      padding: 6px;
    }
  }
}
